.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.body-login {
    background-color: rgba(231, 247, 251, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl !important;
    height: 100vh;
    font-family: Vazirmatn !important;
    color: #133e87;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.active-link {
    font-weight: bold;
    color: #007bff;
    border-bottom: 2px solid #007bff;
}